html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
    background-image: url('websitemain.png'); /* Make sure this path is correct */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto; /* Image width fills the screen, height adjusts automatically */
    background-attachment: scroll; /* Ensures the background scrolls with the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Ensure body takes full height of viewport */
    overflow-y: auto; /* Allows vertical scrolling */
}

.content {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    padding: 20px;
}

.image-buttons {
    display: block;
    gap: 20px;
    margin-top: 20px;
    width: 75vw;
}

.image-buttons a {
    display: block;
    margin-bottom: 20px;
}

.image-buttons a img {
    width: 50%; /* Each image will take up 50% of the container's width */
    height: auto;
    cursor: pointer;
}

.music-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.music-button button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.music-button button img {
    width: 80px; /* Adjust the width as needed */
    height: auto;
}

/* Media queries for desktop devices */
@media (min-width: 769px) {
    .music-button button img {
        width: 160px; /* Adjust the width as needed for desktop */
        height: auto;
    }
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
    .image-buttons {
        margin-top: 20px; /* Adjust this value as needed for smaller screens */
    }
    
    footer p {
        font-size: 0.3em; /* Smaller font size for mobile devices */
    }
}

footer {
    background-color: #a7a9ab;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

footer p {
    font-size: 1em;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
}

.copy-button {
    background-color: #0052ff;
    border: 2px solid black;
    color: black;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.copy-button:hover {
    background-color: #ffd864;
}

