html {
    height: 100%; /* Ensures the html element covers at least the viewport height */
    width: 100%; /* Ensures the html element covers the full width */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%; /* Minimum height as the viewport to ensure coverage */
    background-image: url('websitemain.png'); /* Adjust the file name as needed */
    background-position: top center; /* Aligns the top of the image at the top and center horizontally */
    background-repeat: no-repeat;
    background-size: 100% auto; /* Stretches the image to cover the width, height adjusts automatically */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.content {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    min-height: 100vh; /* This ensures the .content area is at least as tall as the viewport */
    padding-top: 20px; /* Adjust as needed */
}
